<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} | {{ site.title }}</title>
    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <script src="/assets/js/main.js"></script>
    <!-- <script src="https://kit.fontawesome.com/d3f35edffa.js" crossorigin="anonymous"></script> -->
  </head>
  <body>
    <div class="all">
    {% include header.html %}
    {% include main.html %}
    {% include footer.html %}
  </div>
  </body>
</html>
